<header>
  <nav class="navbar navbar-expand-md navbar-light border-bottom shadow-sm" style="background-color: rgba(131,111,255, 0.452);">
    <a class="navbar-brand" href="#">HVEX Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/principal'">Raffle Activity <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'favorites'">Favorites</a>
        </li>

      </ul>

    </div>
  </nav>

</header>
